@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

@import url("componenets/container.css");
@import url("componenets/banner.css");
@import url("componenets/provide.css");
@import url("componenets/button.css");
@import url("componenets/card.css");

body {
    font-family: 'Lora', sans-serif;
    font-size: 18px;
    margin: 0px;
    background-color: rgb(36, 42, 58);
    color: aliceblue;
}

h1,h2,h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

a{
    text-decoration: none;
}